@import '~@styles/variables/index.scss';

.root {
  overflow: hidden;
  background-color: $white;
  position: relative;
  flex: 1 1 100%;
}

.header {
  @media screen and(min-width: $md) {
    border-left: 1px solid $header-border-color;
  }
}

.intro {
  flex: 1;
  overflow: hidden;
}