@import '~@styles/variables/index.scss';

.groups {
  flex: 1 1 100%;
  @media screen and(min-width: $lg) {
    flex: 0 0 25%;
  }
  @media screen and(min-width: $md) and (max-width: $lg) {
    flex: 0 0 30%;
  }
  @media screen and(min-width: $sm) and (max-width: $md) {
    flex: 0 0 40%;
  }
}