@import '~@styles/variables/index.scss';

.flex-column {
  display: flex;
  width: 100%;
}

.column-box {
  display: flex;
  flex-direction: column;
}

.column-box-full {
  height: 100%;
  width: 100%;
}

.header {
  color: $white;
  font-size: 1.2em;
}

.scrollable {
  height: calc(100% - #{$header-mobile-height});
  @media screen and(min-width: $sm){
    height: calc(100% - #{$header-desktop-height});
  }
}

.top-divider {
  flex: 1 1 auto;
  min-height: 12px;
}

.block {
  padding: 10px;
}

.flex {
  display: flex;
}

.flex-center {
  margin: auto;
}

.form-buttons {
  margin-top: 16px;
  margin-bottom: 8px;
  display: flex;
}

.button-center {
  margin: auto;
}

.error {
  color: $error-color;
}

.nowrap-hidden {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.list-item {
  width: 100%;
  display: flex;
  position: relative;
  text-align: left;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
}