@import '~@styles/variables/index.scss';

.root {
  border-bottom: 1px solid $gray-400;
  width: 100%;
  display: flex;
  position: relative;
  text-align: left;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  padding: 12px;
}

.avatar {
  width: 60px;
  height: 60px;
}

.photo {
  width: 100%;
  border-radius: 50%;
}