@import '~@styles/variables/index.scss';

.group {
  overflow: hidden;
  flex: 1 1 100%;
  @media screen and(min-width: $lg) {
    flex: 0 0 30%
  }
}

.group__header {
  border-left: 1px solid $header-border-color;
}

.group-info {
  flex: 1;
  overflow: hidden;
}

.group__block {
  margin: 12px 3%;
}

.group__ava {
  width: 60%;
  height: 60%;
  margin: 0 auto;
  @media screen and(min-width: $sm) {
    width: 45%;
    height: 45%;
  }
}

.group__name {
  margin-top: 20px;
  padding: 10px 0;
  text-align: center;
  color: inherit;
}