@import '~@styles/variables/index.scss';

.chat {
  overflow: hidden;
  background-color: $light-gray;
  position: relative;
  flex: 1 1 100%;
}

.chat__header {
  @media screen and(min-width: $md) {
    border-left: 1px solid $header-border-color;
  }
}

.chat__box {
  flex: 1;
  overflow: hidden;
}


.chat__list-item {
  padding-left: 9%;
  padding-right: 9%;
  margin-bottom: 16px;
  position: relative;
}
.chat__list-item::after {
  content: '';
  display: table;
  clear: both;
}

.chat__msg-new {
  padding: 20px;
  background-color: #d4d4d4;
}