@import '~@styles/variables/index.scss';

.root {
  overflow: hidden;
  background-color: $light-gray;
  position: relative;
  flex: 1 1 100%;
}

.header {
  @media screen and(min-width: $md) {
    border-left: 1px solid $header-border-color;
  }
}

.chat-box {
  flex: 1;
  overflow: hidden;
}

.new-message {
  padding: 20px;
  background-color: #d4d4d4;
}